.page-header
  %h3.center=@sub_category.title
=link_to "back", "javascript:window.history.back();"
%div.panel.panel-default.form-step-area
  %div.panel-body
    %form
      - @sub_category.fields.sort_by{|i| i[:order]}.each do |field|
        %div.form-group
          = mount_form_fields(field)

      %button.btn.btn-success.btn-lg{type:"button"} Continuar